@charset "UTF-8";

:root {
    --marrom1: #523427;
    --cinza: #303539;
    --marrom2: #A18369;
    --cinzaClaro: #DBDBDB;
}

@media screen and (min-width: 710px) {

    #paginas{
        width: 100%;
        display: none;
    }
    

    #burguer {
        display: none;
    }

    .head {
        display: flex;
        align-items: center;
    }

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    menu {
        transition: none;
        display: inline;
    }

    .container-nav {
        display: inline;
    }

    .nav {
        transform: translateY(0%);
        display: block;
        justify-content: center;
        width: 100%;
        z-index: -1;
        transition: none;
        background-color: transparent;
        transition: none;
    }

    #number {
        font-family: sans-serif;
        font-size: 1.2em;
    }

    #navid a {
        display: inline;
        width: 252px;
        padding-left: 20px;
        padding-right: 0px;
        color: var(--cinza);
    }

    #home2 {
        height: 350px;
    }

    #home2 img {
        width: 300px;
        top: -55%;
        left: 60%;
    }

    .comentario-home2 {
        font-size: 1.5em;
        width: 300px;
        margin-left: 200px;
        padding-top: 30px;
    }

    .container-h2-1 {
        text-align: left;
        margin-top: 30px;
        margin-left: 175px;
    }

    #home2-2 {
        text-align: center;
        padding: 10px;
        height: 500px;
        display: flex;
    }

    .nav-fotos {
        width: 50%;
    }

    .tipo-coffee {
        display: inline;
        margin-left: 0px;
        float: right;
        padding-top: 0px;
    }

    .img-sobre {
        top: -20%;
        left: 60%;

    }

    .mais-menu {
        display: block;
    }

    #contato {
        height: 130px;
        padding: 0px 50px;
    }

    #pagina {
        margin: auto;
        max-width: 1024px;
    }


    /*                                MENU                                  */


    .container-item {
        width: 100%;
        margin-top: 50px;
        margin-bottom: 100px;
        background-color: var(--cinza);
        padding: 20px;
        border-radius: 3% 20%;
        box-shadow: 1px 5px 10px black;
        border: 1px solid rgba(0, 0, 0, 0.582);
        height: 300px;

    }

    .fundo-cinza::after {
        content: '®DevCoffee';
        justify-content: center;
        font-weight: bold;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.781);
        height: 70px;
        width: 120px;
        display: flex;
        float: right;
        box-shadow: 0px -5px 39px 8px rgba(0, 0, 0, 0.61);
        border-radius: 3px;
    }

    .fundo-marrom::after{
        content: '®DevCoffee';
        justify-content: center;
        font-weight: bold;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.781);
        height: 70px;
        width: 120px;
        display: flex;
        float: left;
        box-shadow: 0px -5px 39px 8px rgba(0, 0, 0, 0.61);
        border-radius: 3px;
    }

    .item-p1 {
        justify-content: center;
    }


    .desc-btn {
        display: none;
    }



    .descricao {
        width: 96%;
        text-align: center;
        margin-top: 20px;
        height: 50px;
        transform: translateY(0%);
    }

    .icon {
        color: transparent;
    }

}

@media screen and (max-width: 390px){
    #home2 img{
        width: 200px;
    }

    #home2-2 img{
        width: 200px;
    }

    .lista-coffee li{
        padding: 0px 10px;
    }

    .img-sobre{
        top: -8%;
        left: 24%;
    }

    .container-item{
        width: 343px;
    }

    .item-p1{
        
        flex-direction: column;
    }
}