@charset "UTF-8";

@font-face {
    font-family: 'cake';
    src: url(../fonts/Cream\ Cake.otf) format('opentype');
    font-weight: bold;
}

@font-face {
    font-family: 'title';
    src: url(../fonts/Butler_Bold.otf);
}

@font-face {
    font-family: 'padrao';
    src: url(../fonts/CaviarDreams.ttf);
}

:root {
    --marrom1: #523427;
    --cinza: #303539;
    --marrom2: #A18369;
    --cinzaClaro: #DBDBDB;
}

#container-menu {
    position: relative;
    
    text-align: center;
    padding: 9px;
}

#container-menu h1 {
    font-family: 'cake', serif;
    font-size: 4em;
}

.container-item {
    margin-top: 50px;
    background-color: var(--cinza);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 5px 10px black;
    border: 1px solid rgba(0, 0, 0, 0.582);
}

.container-item img {
    width: 100px;
    height: 100px;
    margin-top: 15px;
}

.item-p1 {
    display: flex;
    align-items: center;
}

.preco{
    color: white;
    font-size: 1.5em;
    border-bottom: 1px solid white;
}

.prod {
    color: white;
    font-family: 'title', serif;
    margin-left: 20px;
    margin-right: 20px;
}

.desc-btn {
    color: white;
    font-family: 'padrao', sans-serif;
    margin-left: 20px;
}

#container-desc{
    overflow-y: hidden;
    padding-bottom: 10px;
}

.descricao {
    transform: translateY(-1000%);
    height: 10px;
    color: white;
    font-family: 'padrao', sans-serif;
    margin-left: 20px;
    transition: 0.4s ease-in;
    
}

.btn-comprar{
    padding: 8px;
    background-color: rgb(91, 190, 91);
    border: 1px solid rgba(0, 0, 0, 0.500);
    border-radius: 10px;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.500);
    font-weight: bold;
    cursor: pointer;
}

.btn-comprar:hover{
    background-color: rgb(107, 221, 107);
}

.btn-comprar:active{
    transform: translate(2px, 2px);
    border: none;
}

.fundo-marrom{
        background-image: linear-gradient(to right bottom, var(--cinza) 40%, var(--marrom2));
}

.fundo-cinza{
    background-image: linear-gradient(to right bottom, var(--marrom2) , var(--cinza));
}

