@charset "UTF-8";

@font-face {
    font-family: 'cake';
    src: url(../fonts/Cream\ Cake.otf) format('opentype');
    font-weight: bold;
}

@font-face {
    font-family: 'apple';
    src: url(../fonts/AppleGaramond-Bold.ttf);
}

@font-face {
    font-family: 'title';
    src: url(../fonts/Butler_Bold.otf);
}

@font-face {
    font-family: 'padrao';
    src: url(../fonts/CaviarDreams.ttf);
}

:root {
    --marrom1: #523427;
    --cinza: #303539;
    --marrom2: #A18369;
    --cinzaClaro: #DBDBDB;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 100%;
    background: url(../img/fundo.jpg);
    background-repeat: repeat;
    background-size: contain;
}

#paginas{
    width: 100%;
    display: none;
}

#menu-tela{
    margin: auto;
    max-width: 1024px;
}


menu {
    height: 24px;
    text-align: center;
    transition: 0.3s ease-in;
}

.logo {
    padding: 20px;
    cursor: pointer;
}

.logo img {
    width: 200px;
}

.burguer {
    padding: 10px 0px 10px 0px;
    cursor: pointer;
    display: block;
    text-decoration: none;
    font-family: 'cake', sans-serif;
    font-size: 2em;
    color: black;
    text-align: center;
    width: 100%;
}

.container-nav {
    overflow-y: hidden;
}

.nav {
    transform: translateY(-100%);
    background-color: var(--cinza);
    transition:  0.4s ease-in;
}

#number {
    display: none;
}

.nav a {
    padding: 10px 0px 10px 0px;
    font-family: 'cake', sans-serif;
    font-size: 2em;
    color: var(--cinzaClaro);
    border-bottom: 1px solid black;
    width: 100%;
    transition: 0.3s ease-in;

}

.nav a:hover {
    color: white;
    text-decoration: underline;
}

.home-class {
    padding: 20px;
    margin-bottom: 150px;
}

.title {
    padding-bottom: 20px;
    font-family: 'title', serif;
}

.home-class p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 20px;
    font-family: sans-serif;
    letter-spacing: 3px;
}

#btn-menu1 {
    padding: 10px 30px 10px 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--cinza);
    border: 1px solid rgba(0, 0, 0, 0.24);
    color: white;
    border-bottom-left-radius: 35%;
    border-top-right-radius: 40%;
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.438);
    cursor: pointer;
}

#btn-menu1:hover {
    background: #838386;
}

#btn-menu1:active {
    transform: translate(2px, 2px);
}

.name {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 3px;
    padding-bottom: 10px;

}

.destaque-marrom {
    color: var(--marrom2);
}

#home2 {
    background-color: var(--cinza);
    width: 100%;
    height: 450px;
    position: relative;
    box-shadow: 1px -8px 10px rgba(0, 0, 0, 0.281);
}

#home2 img {
    width: 250px;
    position: absolute;
    top: -25%;
    left: 35%;
    z-index: 999;
    border-style: solid;
    border-image: linear-gradient(to right, black 30%, white) 1;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.384);
}

.comentarios {
    color: #747475;
}

.comentario-home2 {
    font-size: 0.9em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 120px;
    padding: 15px;
    line-height: 1.8;
    letter-spacing: 1.5px;
    text-align: center;
}

.h2-2-p {
    padding: 0px 50px;

}

.p-home2 {
    font-size: 1.3em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;

}

.container-h2-1 {
    padding: 20px 15px;
    text-align: center;
    margin-top: 150px;
}

#home2-2 {
    background-color: var(--cinza);
    width: 100%;
    height: 870px;
    text-align: center;
}

#home2-2 img {
    width: 250px;
    margin-top: 10px;
    border-style: solid;
    border-image: linear-gradient(to right, var(--marrom1) 30%, var(--marrom2)) 1;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.384);

}

#carrossel-img1 {
    display: none;
}

#carrossel-img2 {
    display: none;
}

#carrossel-img3 {
    display: inline;
}

.tipo-coffee {
    margin-top: 50px;
}

.mais-menu {
    color: white;
    font-family: 'padrao', sans-serif;
    text-decoration: underline;
    display: none;
}

.mais-menu:hover {
    color: #747475;
}

.escrita-padrao {
    color: white;
    font-family: 'padrao', sans-serif;
}

.lista-coffee li {
    font-size: 1.2em;
    padding: 0px 20px;
    display: inline;
}

.lista-coffee i {
    font-size: 0.4em;
    color: #747475;
}

#opc-coffee1 {
    color: var(--marrom2);
    cursor: pointer;
    font-family: 'title', serif;
    text-decoration: none;
}

#opc-coffee2 {
    color: white;
    cursor: pointer;
    font-family: 'title', serif;
    text-decoration: none;
}

#opc-coffee3 {
    color: white;
    cursor: pointer;
    font-family: 'title', serif;
    text-decoration: none;
}





#sobre {
    padding: 15px;
    text-align: center;
    padding-top: 100px;
    position: relative;
}

.sobre-txt {
    color: black;
    font-size: 1.1em;
    padding: 0px 30px;
}

.sobre-txt-f {
    font-weight: bold;
}

.img-sobre {
    width: 200px;
    position: absolute;
    top: -8%;
    left: 28%;
    z-index: 999;
}

#contato {
    padding: 20px;
    background-color: var(--cinza);
    width: 100%;
    box-shadow: 1px -8px 10px rgba(0, 0, 0, 0.281);
    text-align: center;
}

#contato ul {
    text-align: left;
    display: inline-block;
    padding: 20px;
    color: white;
    font-family: sans-serif;
}


footer {
    height: 40px;
    text-align: center;
    background-color: black;
    color: white;
}

footer p {
    padding-top: 10px;
    font-size: 0.75em;
}